                <h2>Email or chat</h2>
                  <ul class="address-block">
                    <li>
                      <i class="fa fa-envelope-o"></i>Email: info@digital-comma.com
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone (UK): 07781 123825
                    </li>
                    <li>
                      <i class="fa fa-skype"></i>Skype: gazconroy
                    </li>
                    <li>
                      <i class="fa fa-telegram"></i>Telegram: gazconroy
                    </li>
                    <li>
                      <i class="fa fa-table"></i>Matrix: @gazconroy:matrix.org
                    </li>
                  </ul>